@import "../../config/var-style.scss";
.dropdown-component {
  z-index: 999;
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid rgba(31, 56, 88, 0.1);
  border-radius: 4px;

  &.dropdown-isShow {
    display: block;
  }

  .dropdown-item {
    cursor: pointer;
    padding: 0 5px;
    line-height: 30px;
    width: 100px;
    border-bottom: 1px solid rgba(31, 56, 88, 0.1);
    display: flex;
    align-items: center;

    &:hover {
      color: $primary;
    }

    svg {
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }
  }
}