@import "../../config/var-style.scss";

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
  background: rgba(204,204,204,0.5);
}
::-webkit-scrollbar-track {
  border-radius: 2px;
  background: rgba(247,247,247,1);
}

.el-button,
.el-input {
  transition: none;
}

.editor {
  background: #f2f4f5;
  width: 100%;
  height: 100%;
  &-left,
  &-right {
    position: absolute;
    width: 270px;
    background: #fff;
    top: 0;
    bottom: 0;
  }
  &-left{
    left: 0;
    overflow: auto;
    background: #fff;
    border: 1px solid rgba(31,56,88,.1);

    .component-item {
      width: 250px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      box-sizing: border-box;
      cursor: move;
      user-select: none;
      min-height: 100px;
      position: relative;
      border: 1px solid rgba(31,56,88,.1);
      border-radius: 4px;

      > span {
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(96, 205, 224);
        color: #fff;
        padding: 4px;
        border-top-left-radius: 2px;
        border-bottom-right-radius: 2px;
        font-size: 12px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        opacity: 0.2;
      }
      &:hover {
        border: 1px solid $primary;
      }
    }
  }
  &-right {
    right: 0;
    border: 1px solid rgba(31, 56, 88, 0.1);
    overflow: auto;
  }
  &-top {
    position: absolute;
    right: 271px;
    left: 271px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(31, 56, 88, 0.1);
    background: #FFF;

    .toolbar-item {
      font-size: 14px;
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(0,0,0,0.3);
      color: #fff;
      user-select: none;
      cursor: pointer;
      &+& {
        margin-left: 3px;
      }
    }
  }
  &-container {
    padding: 50px 270px 0;
    height: 100%;
    box-sizing: border-box;
    .container-canvas {
      height: 100%;
      overflow: auto;
      justify-content: center;
      display: flex;

      .canvas-content{
        border-radius: 4px;
        position: relative;
        margin: 15px;
        width: 97%;
        background: #fff;
        height: calc(100vh - 85px);
        overflow: hidden;
        border: 1px solid rgba(31, 56, 88, 0.1);
        &:hover,
        &.hover {
          border: 1px solid $primary;
        }
        .line-x {
          position: absolute;
          top: 0;
          bottom: 0;
          border-left: 1px dashed $primary;
        }
        .line-y {
          position: absolute;
          left: 0;
          right: 0;
          border-top: 1px dashed $primary;
        }
      }
    }
  }
}

.container-canvas-preview {
  .canvas-content {
    margin: 20px auto;
    position: relative;
    border: 1px solid $primary;
    border-radius: 4px;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
}
