@import "../../config/var-style.scss";
.block-resize {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: $primary;
  z-index: 1000;
  user-select: none;

  &.top {
    top: -4px;
    left: calc(50% - 4px);
    cursor: n-resize;
  }
  &.bottom {
    bottom: -4px;
    left: calc(50% - 4px);
    cursor: n-resize;
  }
  &.left {
    top: calc(50% - 4px);
    left: -4px;
    cursor: e-resize;
  }
  &.right {
    top: calc(50% - 4px);
    right: -4px;
    cursor: e-resize;
  }
  &.top-left {
    top: -4px;
    left: -4px;
    cursor: nw-resize;
  }
  &.top-right {
    top: -4px;
    right: -4px;
    cursor: sw-resize;
  }
  &.bottom-left {
    bottom: -4px;
    left: -4px;
    cursor: sw-resize;
  }
  &.bottom-right {
    bottom: -4px;
    right: -4px;
    cursor: nw-resize;
  }
}