
@font-face {
  font-family: "iconfont"; /* Project id 2071946 */
  src: url('iconfont.woff2?t=1680501280741') format('woff2'),
       url('iconfont.woff?t=1680501280741') format('woff'),
       url('iconfont.ttf?t=1680501280741') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhongzuo:before {
  content: "\e604";
}

.icon-chexiao:before {
  content: "\e601";
}

